<!DOCTYPE html>
<html>
<head lang="en">
	<link href="/static/css/index.css" rel="stylesheet">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
	<div id="main">
		<h1>Heightmap API Viewing Tools</h1>
		<div id="options">
			<div class="interface_mode">
				<a href = "/map/2d">
					<img src="/static/images/icons/google-maps.jpg"/>
				</a>
			</div>

			<div class="interface_mode">
				<a href = "/map/2d">
					<img src="/static/images/icons/unity.png"/>
				</a>
			</div>

			<div class="interface_mode">
				<a href = "/map/3d">
					<img src="/static/images/icons/webgl.png"/>
				</a>
			</div>
		</div>
	</div>
</body>
</html>