<!DOCTYPE html>
<html>
    <head>
        <title>LOD terrain</title>
        <link href="/static/css/lod/style.css" rel="stylesheet">
        <script src="/static/js/lod/config.js"></script>
        <script data-main="/static/js/lod/main.js" src="/static/js/lod/require.js"></script>
    </head>
    <body>
    <div id="container">
        <div id="threejs-container"></div>
        <script type="text/javascript">
         (function() {
          var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
          po.src = 'https://apis.google.com/js/platform.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
          })();
         </script>
    </div>
    </body>
</html>
